.header {
    width: 100%;
    min-height: 40vh;
    margin: 30px auto;
    background: url('/images/header_img.png') no-repeat center center / cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5vw 8vw;
    box-sizing: border-box;
}

.header-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    text-shadow: 1px 2px 2px black;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    text-shadow: 1px 2px 2px black;
    font-size: 1vw;
}

.header-contents button {
    border: none;
    color: black;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}
